
body {
    overflow: hidden;
}

html {
  margin: 0;
  background-color: #333;
  color: rgb(255, 243, 243);
  
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Comfortaa", cursive;
  font-family: "Open Sans", sans-serif;
  font-weight: 500px;  
  font-size: 45px;
  overflow: hidden;
  flex-direction: column;
}

.scoreboard {
    position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  width: 400px;
  height: 450px;
  row-gap: 10px;
  /* column-gap: 10px; */
  font-size: 35px;
}

.scoreboard-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  position: relative;
  width: 56px;
  height: 56px;
}
.scoreboard-letter .content {
  position: absolute;
}

.newClass {
  border: 1px solid red;
  background-color: red;
  color: white;
}

.greyClass {
  background-color: rgb(85, 85, 85);
  color: white;
}

.yellowClass {
  background-color: rgb(196, 196, 29);
}

.greenClass {
  background-color: rgb(36, 148, 36) !important;
}

h3 {
    margin: 20px;
}

.alertWinner{
    position: absolute;
    z-index: 10;
    display: none;
    
}

.alertLoser{
    position: absolute;
    z-index: 10;
    display: none;
    top: 40px;
    
}


.displayyes {
    display: block;
}

#loadingMessage {
    display: none;
    position: absolute;
    z-index: 10;
    top: 40px;

}


.loadingAnimation {
    animation-name: shrinkExpand;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  
  
  @keyframes shrinkExpand {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8); /* Shrink the element at 50% of the animation */
    }
    100% {
      transform: scale(1); /* Expand back to normal size at the end */
    }

  }

  #backspace {
    z-index: 20;
  }

  #keyboard-buttons {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: small;
    min-width: 435px;
    min-height: 120;
  }

  .qwertyContainer {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

  }


  button {
    width: 30px;
    height: 30px;
    transform: scale(1.2);
    margin: 8px;
    background-color: #4d4d4d;
    border: #fff;
    color: rgb(216, 216, 216);
    border-radius: 10px;
  }

  #enter{
    width: 75px;
    height: 40px;
  }

  #backspace {
    width: 75px;
    height: 40px;
  }

  .undoEnterContainer{
    margin: 0;
    position: relative;
    bottom: 10px;
  }

  #rulesButton{
    position: absolute;
    left: 2%;
    top: 2%;
    margin: auto;
    border-radius: 20px;
  }

  .rulesContainer{
    position: absolute;
    z-index: 15;
    background-color: #333;
    column-gap: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  .exaple{
    display: flex;
    font-size: 30px;
    margin: 0;
  }

  .LetterGreen{
    background-color: rgb(36, 148, 36)
  }

  .LetterGrey{
    background-color: rgb(85, 85, 85);
  }

  .LetterYellow {
    background-color: rgb(196, 196, 29);
  }

  .LetterRed {
    background-color: red;
  }

  .rulesList{
    
    font-size: 20px;
  }

  .buttonExit {
    position: absolute;
    top: 10px;
    right: 2%;
    
  }

/* smaller screen css */
  @media screen and (max-width: 768px) {


    .scoreboard {
      position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
    width: 80vw;
    height: 40wh;
    row-gap: 10px;
    /* column-gap: 10px; */
    font-size: 25px;
  }
  
  .scoreboard-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    position: relative;
    width: 40px;
    height: 40px;
  }
  
  button {
    width: 23px;
    height: 23px;
    margin: 6px;
    border-radius: 5px;
  }

  .qwertyContainer {
    width: 60vw;
  }
  #loadingMessage {
    display: none;
    position: absolute;
    z-index: 10;
    top: 5px;
    font-size: 20px;

}
.alertWinner{
  position: absolute;
  z-index: 10;
  display: none;
  top: 5px;
  font-size: 20px;
}

.alertLoser{
  position: absolute;
  z-index: 10;
  display: none;
  top: 5px;
  font-size: 20px;
}
  
  
  }